*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.lienzo{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table{
    width: 650px;
    min-width: 700px;
    border-collapse: collapse;
    color: #fff;
}
thead{
    background-color: #ffae52;
}
td,th{
    text-align: center;
    padding: 1em;
    border: 3px solid #000;
}
.hora{
    color: #000;;
}
.calculo{
    background-color: #f96b5b;
}
.metodos{
    background-color: #802e56;
}
.estadistica{
    background-color: #b7425b;
}
.comercio{
    background-color: #f96b5b;
}
.tiempo{
    background-color: #562752;
}
.hacking{
    background-color: #f96b5b;
}
.programacion{
    background-color: #802e56;
}